{{define "maincontent"}}
<html>
    <head>
        <title>
            This is sub template test ...
        </title>
    <head>
        
    <body>        
        {{template "separate"}}
        Somthing here        
        {{template "separate"}}
    </body>    
</html>
{{end}}